<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <span class="brand">Employee manager</span>
    </div>
  </div>
</div>

<div id="main-region" class="container">
  <p>Here is static content in the web page. You'll notice that it gets replaced by our app as soon as we start it.</p>
</div>

{{ include partial/test.ejs }}


<script src="/js/app/Employee.js"></script>
<script src="/js/app/model/employee.js"></script>
<script src="/js/app/view/employee.js"></script>
<script src="/js/app/controller/employee.js"></script>
<script type="text/javascript">
EmployeeManager.start();
</script>